#atom {
    /* background: linear-gradient(to right, #c0392b, #8e44ad); */
    height: 60vh;
    width: 100vw;
    transform: scale(1.2, 1.2);
    overflow: hidden;
    animation: sunset 45s linear infinite;
}

@keyframes sunset {
    0% {
        transform-origin: 220% -10%;
    }
    13% {
        transform-origin: 110% 8%;
    }
    25% {
        transform-origin: 0% 25%;
    }
    38% {
        transform-origin: -110% 9%;
    }
    50% {
        transform-origin: -180% 0%;
    }
    63% {
        transform-origin: -110% 9%;
    }
    75% {
        transform-origin: 0% 25%;
    }
    88% {
        transform-origin: 110% 8%;
    }
    100% {
        transform-origin: 220% -10%;
    }
}

#atom>div {
    border-radius: 50%;
    border: 1px solid #fff;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateY(20deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

#atom>div:first-of-type:after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotateX(-80deg) rotateY(0);
    box-shadow: 0 0 25px #fff;
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s infinite linear;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

#atom>div:nth-of-type(2) {
    transform: rotateX(-80deg) rotateY(20deg);
}

#atom>div:nth-of-type(2)>div,
#atom>div:nth-of-type(2)>div:after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

#atom>div:nth-of-type(3) {
    transform: rotateX(-70deg) rotateY(60deg);
}

#atom>div:nth-of-type(3)>div,
#atom>div:nth-of-type(3)>div:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

#atom>div:nth-of-type(4) {
    transform: rotateX(70deg) rotateY(60deg);
}

#atom>div:nth-of-type(4)>div,
#atom>div:nth-of-type(4)>div:after {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

#atom>div>div {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    -webkit-animation: trail_ 2s infinite linear;
    animation: trail_ 2s infinite linear;
}

#atom>div>div:after {
    content: "";
    position: absolute;
    top: -5px;
    box-shadow: 0 0 12px #fff;
    left: 50%;
    margin-left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: particle_ 2s infinite linear;
    animation: particle_ 2s infinite linear;
}

@-webkit-keyframes trail_ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes trail_ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes particle_ {
    from {
        transform: rotateX(90deg) rotateY(0deg);
    }
    to {
        transform: rotateX(90deg) rotateY(-360deg);
    }
}

@keyframes particle_ {
    from {
        transform: rotateX(90deg) rotateY(0deg);
    }
    to {
        transform: rotateX(90deg) rotateY(-360deg);
    }
}

@-webkit-keyframes nucleus_ {
    0%,
    100% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 25px #fff;
    }
}

@keyframes nucleus_ {
    0%,
    100% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 25px #fff;
    }
}