nav.home_nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

nav.home_nav .underbar {
  width: 60px;
  height: 5px;
  background: rgba(100, 100, 200, 0.5);
  top: 45px;
  position: absolute;
  left: 16.5%;
  -webkit-transition: 1s ease-in-out;
}

nav.home_nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-decoration: none;
  color: white;
  height: 100%;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  cursor: pointer;
}

nav.home_nav a:nth-of-type(1).active ~ .underbar {
  left: calc(16.5% - 30px);
  height: 2;
  background: #6464c8;
}
nav.home_nav a:nth-of-type(2).active ~ .underbar {
  left:  calc(49.9% - 30px);
  background: #c86464;
}
nav.home_nav a:nth-of-type(3).active ~ .underbar {
  left: calc(83.2% - 30px);
  height: 3px;
  background: rgba(150, 250, 250, 1);
}

nav.home_nav a:hover {
  letter-spacing: 0.9px;
  transition: all 0.3s linear;
}
nav.home_nav a::before {
  font-weight: 700;
  transition: all 0.3s linear; /* replace */
  letter-spacing: 0; /* additional */
}
nav.home_nav a:hover::before {
  opacity: 1;
  transition-delay: 0.2s;
}

nav.home_nav a:nth-of-type(1):hover ~ .underbar {
  left: 0%;
  width: 33%;
  background: #6464c8;
}
nav.home_nav a:nth-of-type(2):hover ~ .underbar {
  left: 33%;
  width: 33%;
  height: 1px;
  background: #c86464;
}
nav.home_nav a:nth-of-type(3):hover ~ .underbar {
  left: 66%;
  width: 34%;
  height: 3px;
  background: rgba(150, 250, 250, 0.5);
  box-shadow: 0 0 5px #46fafa;
}
